
{% extends 'mysite/base.html' %}
{% load static%}
{%block styles %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/index.css'%}">
{%endblock %}


{%  block content %}

{{block.super}}

<head>
    <script src="https://cdn.jsdelivr.net/clipboard.js/1.5.3/clipboard.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <script>
        function copyToClipboard(element) {
            $(element).select();
            document.execCommand("copy");
        }
    </script>
</head>

<div class="row">
  {% for image in images %}
  <div class="col-sm-12 col-md-6 col-lg-3 ">

    <img src="{{image.image.url}}" class="img-fluid img-thumbnail img-responsive" alt="image" data-toggle="modal"
      data-target="#{{image.image_name}}{{image.id}}">
  </div>

  
  <div class="modal fade" id="{{image.image_name}}{{image.id}}" tabindex="-1" role="dialog"
    aria-labelledby="examplemodal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title text-center" id="modaltitle">{{image.image_name}}</h4>
          <p>{{image.image_descprition}}</p>

        </div>
        <div class="modal-body text-center">
         <img src="{{image.image.url}}" alt="" width="100%" height="100%">
        </div>
        <div class="modal-footer">

            <div class="form-group row">
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 padding-1">
                    <input id="{{image.id}}-url" class="form-control input-md responsive" type="text"
                        value="{{image.image.url}}">
                </div>


                <span class="col-xs-2 col-sm-2 col-md-2 col-lg-2 padding-2">
                    <button class="btn btn-sm btn-info"
                        onclick="copyToClipboard('#{{image.id}}-url')">Copy</button>
                </span>
            </div>  

           
            <span>Location:{{image.location}}</span>
            <span>Category:{{image.category}}</span>
          <button type="button" class="btn btn-sm btn-outline-info" data-dismiss="modal">Close</button>

        </div>
      </div>
    </div>
  </div>


  {% endfor %}
  <!-- modal -->


</div>

{% endblock%}
{% block scripts %}
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{%endblock%}