{% extends 'mysite/base.html'%}
{% block content %}
<div class="container">
    <div class="row">
        {% if Images %}
        <h2>
            Found {{ Images|length}} of search term {{message}}
        </h2>
        {% else %}
        <h2>Found 0 articles for the search term {{message}}</h2>
        {% endif %}
    </div>
    <div class="row">
        {% if Images %}
        {% for pic in Images %}
        <div class="col-sm-6 col-md-3 col-lg-3">
            <img src="{{pic.image.url}}" alt="pic.image_name" class="img-thumbnail" height="200px" width="200px" data-toggle="modal"
            data-target="#{{pic.image_name}}{{pic.id}}">
        </div>



        <div class="modal fade" id="{{pic.image_name}}{{pic.id}}" tabindex="-1" role="dialog"
            aria-labelledby="examplemodal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title text-center" id="modaltitle">{{pic.image_name}}</h4>

                    </div>
                    <div class="modal-body text-center">
                        <img src="{{pic.image.url}}" alt="" width="100%" height="100%">
                    </div>
                    <div class="modal-footer">
                        <p></p>
                        <span>Location:{{image.location}} {{image.image_description}}</span>
                        <span>Category:{{image.category}}</span>
                        <button type="button" class="btn btn-sm btn-outline-info" data-dismiss="modal">Close</button>

                    </div>
                </div>
            </div>
        </div>


        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}